@model IEnumerable<Person>
@{
    ViewData["Title"] = "Catalogue Database";
}

<h1>Catalogue Database</h1>
<p>Catalogue with data pulled from a database</p>

<a asp-action="Create">Create</a> |
<a asp-action="Index">Refresh list</a>

<form asp-controller="People" asp-action="Index">
    <p>
        <input type="text" placeholder="Filter by name..." name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>City Id</th>
                <th>Languages known</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.PersonId</td>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@item.CityId</td>
                <td>@item.PersonLanguages.Count</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id=@item.PersonId>Delete</a>
                    }
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
