@model PersonViewModel

<div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="@Model.CreateVM.Name"></label>
            <input asp-for="@Model.CreateVM.Name" />
            <span asp-validation-for="@Model.CreateVM.Name"></span>
        </div>
        <div>
            <label asp-for="@Model.CreateVM.PhoneNumber"></label>
            <input asp-for="@Model.CreateVM.PhoneNumber" />
            <span asp-validation-for="@Model.CreateVM.PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="@Model.CreateVM.City"></label>
            <input asp-for="@Model.CreateVM.City" />
            <span asp-validation-for="@Model.CreateVM.City"></span>
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Go back</a>
</div>