@model Person  

<div class="mt-3 shadow-sm d-inline-flex justify-content-center card-container">
    <div id="card-@Model.PersonId" class="person-card card">
        <div class="card-body">
            <img class="card-img-top rounded" src="~/img/mr-anonymous.png" alt="Card image" />
            <h4 class="card-title">@Model.Name</h4>
            <div class="row">
                <div class="col">ID</div>
                <div id="@Model.PersonId" class="col">@Model.PersonId</div>
            </div>
            <div class="row">
                <div class="col">Name</div>
                <div class="col">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col">Phone</div>
                <div class="col">@Model.PhoneNumber</div>
            </div>
            <div class="row">
                <div class="col">City</div>
                <div class="col">@Model.City</div>
            </div>
            <a asp-action="Edit" asp-route-id="@Model.PersonId" class="btn btn-info">Edit</a>

        </div>
    </div>
    
</div>